body {
    text-align: center;
    width: 100%;
    margin: auto;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    
}

.navbar a {
    padding: 8px;
    text-decoration: none;
    color: plum;
    font-size: 22px;
}

.navbar a:hover {
    color: aqua;
}

.name {
    color: wheat;
    font-size: 56px;
    text-transform: uppercase;
    white-space: nowrap;
    animation: 
    typing 3s steps(50, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    0% { border-color: grey }
}


.join{
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
    animation-name: moveUp;
    animation-duration: 5s;
}

@keyframes moveUp {
    0% {
    opacity: 0;
    transform: translateY(100%);
    } 
    100% {    
    opacity: 1;
    transform: translateY(0);
    }
}

.occupation {
    color: wheat;
    font-size: 26px;
}

.fa-icon {
    font-size:28px;
    margin: 5px;
    color: wheat;
}

.fa-icon:hover {
    color: aqua;
}

.image {
    width: 350px;
    margin: auto;
}

#home {
    background-image: url('./images/wood-texture-collection-quality-ppt.jpeg');
    margin-top: -2.4em;
    padding-bottom: 12em;
    padding-top: 12em;
    width: 100%;
    margin: auto;
}


#about {
    color: #000;
    width: 100%;
    margin: auto;
    padding-bottom: 5em;
    padding-top: 8em;
    background-color: aliceblue;
}

.about {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
}

.text {
    margin-top: 4em;
}

.title1 {
    font-size: 28px;
}

.word {
    font-size: 18px;
}

.one {
    padding: 10px 20px;
    border-radius: 40px;
    border: 2px solid palevioletred;

}

.one a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

#third {
    width: 100%;
    margin: auto;
    background-image: url('./images/2f76cb54ae620f220d24e9e4aedc0873.jpg');
    padding-top: 4em;
    padding-bottom: 50px;
    
}

.border {
    width: 70%;
    margin: auto;
    color: wheat;
    font-size: 18px;
}

.exp {
    font-size: 34px;
}

.span {
    font-size: 20px;    
}

li {
    margin: 20px 0px 10px 0px;
}

ul {
    text-align: left;
}

.fourth {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}

#education {
    background-color: azure;
    padding-top: 4em;
    padding-bottom: 80px;
}

#education h2 {
    font-size: 36px;
}

.graph {
    font-size: 20px;
}

#lang {
    background-image: url('./images/wood-texture-collection-quality-ppt.jpeg'); color: antiquewhite; 
    padding-top: 5em; 
    padding-bottom: 10em;
}

#gallery {
    background-color: black;
    width: 100%;
    margin-top: -50px;
    padding-top: 5em;
}

#gallery h4{
    color: #fff;
    font-size: 34px;

}

.gallery {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    
}

.gallery div {
    margin: 10px;
    line-height: 75px;
    width: 350px;
    height: 450px;
}


.speech {
    font-size: 20px;
}

.h3 {
    font-size: 34px;
}

.proj {
    width: 70%; 
    margin: auto;
}

.project {
    display: flex; 
    justify-content: space-evenly; 
    margin: 50px;
}




@media only screen and (max-width: 600px) {

    body {
        width: 600px;
        margin: 0 auto;
    }

    .name {
        font-size: 22px;
    }

    .gallery {
    display: block;
    justify-content: center;
    width: 60%;
    margin: auto;
    
    }

    .project {
        display: block ;
    }
}


@media only screen and (max-width: 800px) {

    body {
        width: 800px;
        margin: 0 auto;
    }

    .name {
        font-size: 28px;
    }

    .gallery {
    display: block;
    justify-content: center;
    width: 80%;
    margin: auto;
    
    }

    .project {
        display: block ;
    }
}


